.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1.5625rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 1;
    background-color: lightgray;
    padding: 10px 55px;
}


* {
    padding: 0;
    margin: 0;
}

.text {
    display: flex;
    margin-right: 7.875rem;
}

.text li {
    list-style: none;
}

.text li a {
    text-decoration: none;
    margin-left: 1.675rem;
    color: black;
    font: 18px black;

}

.btntxt {
    padding: 15px 25px;
    border-radius: 10px;
    color: antiquewhite;
    background-image: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border: none;
}
.relay {
    display: none;
}
.loop{
    display: none;
}



@media(max-width:550px) {
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: -10px;
    }

    .navbtn {
        display: none;
    }

    .text {
        display: none;
    }

    .hamburger span {
        display: flex;
        background: black;
        width: 25px;
        height: 2px;
        margin-bottom: 4px;



    }
    

    .open.hamburger :nth-child(2) {
        visibility: hidden;
    }

    .open.hamburger :first-child {
        transform: rotate(45deg);
        transform-origin: 20%;
    }

    .open.hamburger :last-child {
        transform: rotate(-45deg);
        transform-origin: 15%;
    }
    
.open .loop{
    display: block;
    margin-top: 80px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 1;
    top: 0;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    margin: 3.125rem;
    margin-top: 6.375rem;
   

}
.open   .loop a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    padding: 10px 1px;
}
.open   .relay { 
    display: flex;
    background: black;
    position: fixed;
    inset: 0;
    top: 40px;

}
    
   
   
}

@media(min-width:700px) {
    .hamburger span {
        display: none;
    }

}